@use "../../Styles/color.scss" as *;

.deliveryCard {

    width: 98%;
    height: 2rem;
    display: grid;
    grid-template-columns: 28% 18% 18% 18% 18%;
    grid-area: "supplier type temp date accepted";
    justify-items: center;
    align-items: center;
    background-color: $cream;
    border-radius: 25px;
    margin-bottom: 1rem;
    color:$dark-light;

    &__supplier {
        grid-area: supplier;
    }

    &__type {
        grid-area: type;
    }

    &__temperature {
        grid-area: temperature;
    }

    &__date {
        grid-area: date;
    }

    &__accepted {
        grid-area: accepted;
    }

}