@use "../../Styles/color.scss" as *;

.addTemperatureForm {

    width: 85%;
    height: 90%;
    display: grid;
    grid-template-columns: 10% 25% 55% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
    grid-template-areas: 
        "close close close close"
        ". serial serialNumber ."
        ". type typeItem ."
        ". temperature temperatureInput ."
        ". delivery deliveryInput ."
        ". submit submit .";
    align-items: center;
    justify-items: center;
    color: $purple;

    &__serial {
        grid-area: serial;
    }

    &__serialNumber {
        grid-area: serialNumber;
    }

    &__type {
        grid-area: type;
    }
    &__typeInput {
        grid-area: typeItem;
    }
    &__temperature {
        grid-area: temperature;
    }
    &__temperatureInput {
        grid-area: temperatureInput;
    }

    &__delivery {
        grid-area: delivery;
    }
    &__deliveryDateInput {
        grid-area: deliveryInput;
    }

    &__close {
        grid-area: close;
        justify-self: end;
        height: 2rem;
        aspect-ratio: 1 / 1;
    }

    &__submit {
        grid-area: submit;
        width: 5rem;
        aspect-ratio: 3 / 1;
    }
}